<%= form_for @person, :html => { :multipart => true }  do |f| %>
  
  <label for="person_name">Name:</label><br />
  <%= f.text_field :name %><br />
  
  <label for="person_password">Password:</label><br />
  <%= f.password_field :password %><br />
  
  <label for="person_password_confirmation">Password Confirmation:</label><br />
  <%= f.password_field :password_confirmation %><br />
  
  <label for="person_email_address">Email address:</label><br />
  <%= f.text_field :email_address %><br />  
  
  <label for="person_role">Role:</label><br />
  <%= collection_select :roles_people, :role_id, @roles, :id, :name %>
  <br />
  <br />
  <%= submit_tag "Submit" %>

<% end %>

