<%= render :partial => "application/admin_nav" %>


<div class="admin_content">

<%= error_messages_for :person %>
<div class="msg_banner">
<%= error_messages_for :person %>
<%= " Message: #{flash[:notice]}" if flash[:notice] %> 
</div>
  <%= render :partial => 'form' %>
  



<div class="actions">
<%= button_to "Unregister", @person, :method => :delete, 
                                     :confirm => "Are you sure?" %>
</div>                                     

</div>
