<h1>Listing tasks_people</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks_people.each do |tasks_person| %>
  <tr>
    <td><%= tasks_person.task_id %></td>
    <td><%= tasks_person.person_id %></td>
    <td><%= link_to 'Show', tasks_person %></td>
    <td><%= link_to 'Edit', edit_tasks_person_path(tasks_person) %></td>
    <td><%= link_to 'Destroy', tasks_person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tasks person', new_tasks_person_path %>
