<%= form_for(@task, :html => {:class => "form"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="double">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
	<% if @project.nil? %>
	
	  <p class="double">
	    <%= f.label :project_id %>
	    <%= f.collection_select :project_id, @projects, :id, :name %>
	  </p>
	<% else %>
		<%= f.hidden_field :project_id, :value => @project.id %>
	<% end %>  
	
  <p class="double">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p class="double">
    <%= f.label :due_date %>
    <%= f.date_select :tmp_achievement_date %>
  </p>
  <p class="double">
    <%= f.label :priority_id %>
    <%= f.collection_select :priority_id, @priorities, :id, :name %>
  </p>
  <p class="double">
    <%= f.label :stopover_id %>
    <%= f.collection_select :stopover_id, @stopovers, :id, :name %>
  </p>
  <p class="double">
  	<%= f.label :closed %>
  	<%= f.check_box :closed %>
  </p>
  
  <p class="simple">
    <%= f.submit %>
  </p>
<% end %>

<div class="actions">
<% if @project %>
	<%= link_to 'Back', project_path(@project) %>
<% else %>
	<%= link_to 'Back', tasks_path %>
<% end %>
</div>
