<div class="msg_banner">
<%= " Message: #{flash[:notice]}" if flash[:notice] %> 
</div>

<div class="show_page">
<div class="show_left">
<h1>Task #<%= @task.id %></h1>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Project:</b>
  <%= link_to @task.project.name, project_path(@task.project_id) %>
</p>
<p>
  <b>Tmp achievement date:</b>
  <%= @task.tmp_achievement_date %>
</p>

<p>
  <b>Effective achievement date:</b>
  <%= @task.effective_achievement_date %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority.name %>
</p>

<p>
  <b>Stopover:</b>
  <%= @task.stopover.name %>
</p>

<p>
  <b>Author:</b>	
  <%= @task.author.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>
</div>

</div>
<div class="show_right">
<div id="team_members">
<%= render :partial => "assignees_list"%>
</div>
</div>

<div class="actions">
<%= link_to 'Edit', edit_task_path(@task) %> 
</div>