<h1>Listing stopovers</h1>

<table class="list_layout">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stopovers.each do |stopover| %>
  <tr>
    <td><%= stopover.name %></td>
    <td><%= stopover.description %></td>
    <td><%= link_to 'Show', stopover %></td>
    <td><%= link_to 'Edit', edit_stopover_path(stopover) %></td>
    <td><%= link_to 'Destroy', stopover, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stopover', new_stopover_path %>
