<h1>Team Members</h1>
<fieldset>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_members.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= button_to 'Remove from team', :action => :remove_team_member, :person_id => person.id, :remote => true %></td>
     </tr>
<% end %>
</table>
</fieldset>

<br />

<h1>Available People</h1>

<fieldset>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td><%= link_to 'Show', u %></td>
    <td><%= button_to 'Add to team', :action => :add_team_member, :person_id => u.id, :remote => true %></td>
  </tr>
<% end %>
</table>
</fieldset>
<br />

<br />

