<style>
	.show_left{
		height: auto;
		min-height: 350px;
		border: none;
	}
	.show_right
	{
		height: auto;
		min-height: 350px;
		border: none;
	}
</style>

<div class="msg_banner">
<%= " Message: #{flash[:notice]}" if flash[:notice] %> 
</div>

<div class="show_left">

<h1>Project Info</h1>

<fieldset>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Manager:</b>
  <%= @project.manager %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

</fieldset>

</div>

<div class="show_right">
<div id="team_members">
<%= render :partial => "team_list"%>
</div>	
</div>


<%= render :partial => "tasks/task_list"%>



<div class="actions">
<%= link_to 'New Task', new_task_path(:id => @project.id) %>
</div>


<br />

<div class="actions">
<%= link_to 'Edit Info', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
