<h1>Listing categories_tasks</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories_tasks.each do |categories_task| %>
  <tr>
    <td><%= categories_task.category_id %></td>
    <td><%= categories_task.task_id %></td>
    <td><%= link_to 'Show', categories_task %></td>
    <td><%= link_to 'Edit', edit_categories_task_path(categories_task) %></td>
    <td><%= link_to 'Destroy', categories_task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categories task', new_categories_task_path %>
