<header>
	
	<div>
		
	</div>
	
	<%=h link_to "Home", root_url %> - 
	
	<% if @user %>
		<%=h link_to "Edit Account", edit_person_path('account') %> -
		<%=h link_to "Projects", projects_path %> -

		<%=h link_to "Your tasks", :controller => "tasks", :action => "your_tasks", :user_id => @user.id %> - 
	    <%=h link_to "Admin", :controller => "application", :action => "admin_panel" %>
	    <%=h " User: #{@user.name} - IP Address: #{@application_session.ip_address}" %>
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	    
	    <%= render :partial => "layouts/path"%>
	    
	<% else %>
	    <%= link_to "Login", new_session_path %>	 
	<% end %>
	
	  <%= "- Message: #{flash[:notice]}" if flash[:notice] %>
	  
	  <hr />
</header>	  