<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= link_to "Home", root_url %> - 
	
	<% if @user %>
		<%= link_to "Edit Account", edit_person_path('account') %> -
	    <%= link_to "Logout", @application_session, :method => :delete %>
	<% else %>
	    <%= link_to "Login", new_session_path %> -
	    
	   
	<% end %>
	
	  <%= "- Message: #{flash[:notice]}" if flash[:notice] %>
	  
	  <hr />
	
	  <h1>
	  <% if @user %>
	    <%= "User: #{@user.name}" %><br />
	    <%= "IP Address: #{@application_session.ip_address}" %><br />
	    <%= "Path: #{@application_session.path}" %>
	  <% end %>
	  </h1>	
	  
	<%= yield %>

</body>
</html>
